*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(133, 17, 201);
}

#logs{
    border: 1px solid black;
    min-height: 100px;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

thead{
    /* background-color: red; */
    background-color: lime;
}

tbody{
    height: 100px;
}

#pcbTable{
    background: white;
}

th,td{
    text-align: center;
}

td{
    background: mediumseagreen;
}

.main-container{
    display:flex;
    column-gap: 5px;
    height:100vh;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    padding: 50px;
}

.left-container,.right-container{
    padding: 20px;
    background: #1d163b;
    border: 1px solid black;
}

.left-container{
    width:75%;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:25%;
}

.top-btns{
    display: flex;
    flex-direction: column;
}

input{
    background: none;
    border: 2px solid;
    border-radius: 5px;
    padding:5px;

}

#generateProcesses{
    border-color: blue;
    color:blue;
}

#start{
    border-color: green;
    color:green;
}

#resetBtn{
    border-color: red;
    color:red;
}

#cyclesInput{
    color: white;
    border-color: purple;
}

label{
    color: purple;
    display: inline
}

h1{
    position: relative;
    top:-30px;
    left: 15%;
    padding: 10px;
    border: 1px solid black;
    background: red;
    display: inline;;
}